<div class="container">
    <form [formGroup]="myForm" (submit)="addquery()">
        <div class="row mb-2">
            <div class="col-4">
                <label>FirstName</label> 
                <input type="text" class="form-control" placeholder="Enter First Name" formControlName="firstname">
            </div>
            <div class="col-4">
                <label>LastName</label> 
                <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="lastname">
            </div>
            <div class="col-4">
                <label>Email</label> 
                <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <textarea class="form-control" rows="5" placeholder="Enter Message" formControlName="message"></textarea>
            </div>
        </div>
        <div class="d-flex">
            <button type="submit" class="btn btn-primary ps-5 pt-2 pb-2 pe-5 ">Submit</button>
        </div>
    </form>
</div>