<div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
            <th scope="col">Message</th>
            <th scope="col">Id</th>
          </tr>
        </thead>
        <tbody *ngFor = "let item of data">
          <tr>
          <td>{{item.firstname}}</td>
          <td>{{item.lastname}}</td>
          <td>{{item.email}}</td>
          <td>{{item.message}}</td>
          <td>{{item.id}}</td>
        </tr>
        </tbody>
      </table>
</div>